{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="w-full h-[calc(100vh-6rem)] flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Welcome to PDF Generator </h1>
</div>
{% endblock %}
