<nav>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_generate_pdf') }}">Générer PDF</a></li>
        <li><a href="{{ path('app_history') }}">Historique</a></li>
        <li><a href="{{ path('app_subscription') }}">Abonnement</a></li>
    </ul>
</nav>