{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center p-4">
    <h1 class="text-2xl mb-4">Historique des PDF générés</h1>
    <div>
        <ul class="grid grid-cols-4 gap-4">
            {% for pdf in pdfs %}
                <li class="">
                    <a href="{{ path('app_show_pdf', {id: pdf.id}) }}">
                        <div class="bg-slate-200 p-4 flex flex-col justify-center items-center aspect-square">
                            <h2 class="text-xl font-bold">{{ pdf.title }}</h2>
                            <p class="text-xs text-slate-400">Created at: {{ pdf.createdAt|date('d-m-Y') }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
