{% extends 'base.html.twig' %}

{% block title %}Hello GeneratePdfController!{% endblock %}

{% block body %}
{#    <h1>{{ pdf.title }}</h1>#}
    <embed src="{{ asset(pdf.path) }}" type="application/pdf" width="100%" height="" class="h-[calc(100vh-6rem)]" />
{#    <p>Generated at: {{ pdf.createdAt|date('Y-m-d H:i:s') }}</p>#}
{#    <a href="{{ asset(pdf.path) }}" download>Download PDF</a>#}
{% endblock %}